page-textos {
    .card-header-md{
        color:#73c9eb;
        font-weight: bolder;
        font-size: 2rem;
    }
    .card-md{
        margin-bottom: 25px;   
    }
    ion-card-content{
        height: 60vw;
    }
}
