<ion-menu [content]="content">
  <ion-header>
    <img src="assets/imgs/menu.png" />
  </ion-header>

  <ion-content class="content-menu" >
    <ion-list class="content-menu">
      <button menuClose color="menu" style="color: black" ion-item *ngFor="let p of pages" (click)="openPage(p)" class="paginas">
       
          <ion-icon [name]="p.icon"></ion-icon>&nbsp;{{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-footer class="footer-faixa" *ngIf="podcastTocando" >
  <ion-grid no-margin-left>
    <ion-row>
      <ion-col col-2>
        <button id="playPause" (click)="playPause()" ion-button color="dark" outline round icon-only><ion-icon [name]="tocando? 'pause':'play'"></ion-icon></button>
      </ion-col>
      <ion-col col-3> <b>{{podcastTocando?.titulo}}</b><br><i>Season {{podcastTocando?.season}}</i></ion-col>
      <ion-col col-7 no-padding>
          <ion-range *ngIf="tocando" color="light" pin="false" [(ngModel)]="atual" (ngModelChange)="onChangeRange($event)">
            <ion-label range-left>{{tempoFaixa | tempo}}</ion-label>
            <ion-label range-right>{{(this.faixaTocando.getDuration()/60).toFixed(0).toString()+':'+(this.faixaTocando.getDuration()%60).toFixed(0).toString()}}</ion-label>
          </ion-range>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-footer>